{
  "singleQuote": true,
  "trailingComma": "all",
  "semi": true,
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "quoteProps": "as-needed",
  "bracketSameLine": false,
  "embeddedLanguageFormatting": "auto",
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "parser": "typescript",
        "singleQuote": true,
        "trailingComma": "all"
      }
    },
    {
      "files": "*.json",
      "options": {
        "parser": "json",
        "printWidth": 80
      }
    },
    {
      "files": "*.md",
      "options": {
        "parser": "markdown",
        "printWidth": 80,
        "proseWrap": "always"
      }
    }
  ]
}
